[submodule "absolute/discord"]
	path = absolute/discord
	url = git@github.com:toxocious/absolute-discord-bot.git
[submodule "absolute/chat"]
	path = absolute/chat
	url = https://github.com/ninosauvageot/absolute-chat.git
